undos.sh filter=lfs diff=lfs merge=lfs -text
update.sh filter=lfs diff=lfs merge=lfs -text
config.h_win32vc7 filter=lfs diff=lfs merge=lfs -text
config.sub filter=lfs diff=lfs merge=lfs -text
fuzzer filter=lfs diff=lfs merge=lfs -text
config.guess filter=lfs diff=lfs merge=lfs -text
crypto filter=lfs diff=lfs merge=lfs -text
srtp filter=lfs diff=lfs merge=lfs -text
srtp.sln filter=lfs diff=lfs merge=lfs -text
config.hw filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
srtp2.vcxproj filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
srtp2.vcxproj.filters filter=lfs diff=lfs merge=lfs -text
config_in.h filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
install-sh filter=lfs diff=lfs merge=lfs -text
install-win.bat filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
srtp.def filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
config_in_cmake.h filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
test filter=lfs diff=lfs merge=lfs -text
timing filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
libsrtp2.pc.in filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
CHANGES filter=lfs diff=lfs merge=lfs -text
exported_include filter=lfs diff=lfs merge=lfs -text
format.sh filter=lfs diff=lfs merge=lfs -text
